<div class="jumbotron">
    <h1>My Website</h1>
    <p class="lead">This is a website deliverd by a continuous delivery pipeline.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Yay, all working fine!</h2>
        <p>ASP.net Web API rocks</p>
    </div>
</div>
